<div class="page-header p-5 overlay-wraper header-1" data-parallax="true">
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container p-5 p-lg-0 pt-lg-5">
    <div class="motto text-center">
      <h2 class="p-5 m-5 fw-bolder text-white">Contact Us</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row m-5">
    <div class="col-md-4 col-sm-12">
      <div class="card bg-dark">
        <div class="card-body text-center">
          <div class="icon-sm text-white">
            <i class="fa fa-phone pb-3 fa-lg fi" aria-hidden="true"></i>
          </div>
          <h5 class="text-white">Phone number</h5>
          <p class="text-muted">01-5909519, 977-9801719000, 980-1719000</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card bg-dark">
        <div class="card-body text-center">
          <div class="icon-sm text-white">
            <i class="far fa-envelope-open pb-3 fa-lg fi"></i>
          </div>
          <h5 class="text-white">Email address</h5>
          <p class="text-muted">quickconstruction.np@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card bg-dark">
        <div class="card-body text-center">
          <div class="icon-sm text-white">
            <i class="fa fa-map-marker pb-3 fa-lg fi" aria-hidden="true"></i>
          </div>
          <h5 class="text-white">Address info</h5>
          <p class="text-muted">Kathmandu-12, Teku</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-12 p-0">
    <div class="row m-5">
      <div class="col-md-6">
        <div class="px-2">
          <h4 class="text-uppercase">Location</h4>
          <div class="wt-separator-outer">
            <div class="wt-separator style-square">
              <span class="separator-left bg-warning"></span>
              <span class="separator-right bg-warning"></span>
            </div>
          </div>
          <div class="map mt-4">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.6327612741!2d85.30722601506184!3d27.697743082795878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb87b5bf8dee7d627!2sQuick%20Construction%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1644232665409!5m2!1sen!2sin"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="px-2">
          <h4 class="text-uppercase">Get In Touch</h4>
          <div class="wt-separator-outer">
            <div class="wt-separator style-square">
              <span class="separator-left bg-warning"></span>
              <span class="separator-right bg-warning"></span>
            </div>
          </div>
          <div class="bg-gray">
            <div class="row mt-4 p-5 details">
              <form [formGroup]="contactForm" (submit)="onSubmit()">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fas fa-user fi"></i
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="username"
                        placeholder="Username"
                        [ngClass]="{
                          'is-invalid': submitted && f.username.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.username.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.username.errors.required">
                          Username is required
                        </div>
                        <div *ngIf="f.username.errors.minlength">
                          Username must be at least 3 characters
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-envelope fi" aria-hidden="true"></i
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="email"
                        placeholder="Email Address"
                        [ngClass]="{
                          'is-invalid': submitted && f.email.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.email.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.email.errors.required">
                          Email is required
                        </div>
                        <div *ngIf="f.email.errors.pattern">
                          Enter a valid email address
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fa fa-phone fi" aria-hidden="true"></i
                      ></span>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="mobileno"
                        placeholder="Phone Number"
                        [ngClass]="{
                          'is-invalid': submitted && f.mobileno.errors
                        }"
                      />
                      <div
                        *ngIf="submitted && f.mobileno.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.mobileno.errors.required">
                          Phone Number is required
                        </div>
                        <div
                          *ngIf="
                            f.mobileno.errors.pattern ||
                            f.mobileno.errors.minlength
                          "
                        >
                          Enter valid phone number
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"
                        ><i class="fas fa-edit fi"></i
                      ></span>
                      <textarea
                        class="form-control"
                        placeholder="Message"
                        formControlName="message"
                        [ngClass]="{
                          'is-invalid': submitted && f.message.errors
                        }"
                      ></textarea>
                      <div
                        *ngIf="submitted && f.message.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.message.errors.maxlength">
                          Message cannot be greater than 300 characters
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn btn-warning me-3">
                    Submit<i class="fas fa-angle-double-right ps-2"></i>
                  </button>
                  <button type="reset" class="btn btn-warning">
                    Reset<i class="fas fa-angle-double-right ps-2"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
