.page-header {
  background-image: url("../../../assets/contact-2.jpg");
  height: 70vh;
  background-size: cover;
  background-position: top;
}

.contact-page {
  padding-left: 300px;
}

iframe {
  border: 0;
  height: 375px;
  width: 100%;
}
.details {
  input,
  textarea {
    outline: none;
    box-shadow: none;
  }
}
.is-invalid {
  color: #bb0000;
}
