<div class="page-header p-5 overlay-wraper header-1" data-parallax="true">
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container p-5 p-lg-0 pt-lg-5">
    <div class="motto text-center">
      <h2 class="p-5 m-5 fw-bolder text-white">Services</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="section-head text-center mt-5">
    <h2 class="text-uppercase">Our Services</h2>
    <div class="wt-separator-outer">
      <div class="wt-separator style-square">
        <span class="separator-left bg-warning"></span>
        <span class="separator-right bg-warning"></span>
      </div>
    </div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book has survived.
    </p>
  </div>

  <div class="col-md-12 col-12 col-sm-12 p-0">
    <div class="row m-0 py-3">
      <div class="col-md-4 col-sm-6 p-1 animate_line">
        <div class="bg-light">
          <div class="p-3">
            <h5 class="text-center">Services1</h5>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est
              eaque dolorem natus ea voluptatibus ipsum possimus enim libero nam
              nisi!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 p-1 animate_line">
        <div class="bg-light">
          <div class="p-3">
            <h5 class="text-center">Services2</h5>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est
              eaque dolorem natus ea voluptatibus ipsum possimus enim libero nam
              nisi!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 p-1 animate_line">
        <div class="bg-light">
          <div class="p-3">
            <h5 class="text-center">Services3</h5>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est
              eaque dolorem natus ea voluptatibus ipsum possimus enim libero nam
              nisi!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 p-1 animate_line">
        <div class="bg-light">
          <div class="p-3">
            <h5 class="text-center">Services4</h5>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est
              eaque dolorem natus ea voluptatibus ipsum possimus enim libero nam
              nisi!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 p-1 animate_line">
        <div class="bg-light">
          <div class="p-3">
            <h5 class="text-center">Services5</h5>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est
              eaque dolorem natus ea voluptatibus ipsum possimus enim libero nam
              nisi!
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 p-1 animate_line">
        <div class="bg-light">
          <div class="p-3">
            <h5 class="text-center">Services6</h5>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est
              eaque dolorem natus ea voluptatibus ipsum possimus enim libero nam
              nisi!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
