<app-slider></app-slider>

<!-- About us -->
<div id="aboutus" class="p-5 us-1">
  <div class="container about-us">
    <div class="row py-4">
      <div class="col-md-5 col-sm-5">
        <div class="about-com-pic">
          <img
            src="../../../assets/construction-2.jpg"
            class="img-fluid"
            alt="About Us"
          />
        </div>
      </div>
      <div class="col-md-7 col-sm-7">
        <div class="section-head section-head-1 text-left">
          <h2 class="text-uppercase">About Company</h2>
          <div class="wt-separator-outer">
            <div class="wt-separator style-square">
              <span class="separator-left bg-warning"></span>
              <span class="separator-right bg-warning"></span>
            </div>
          </div>
          <p class="text-muted">
            Quick Construction Pvt. Ltd is registered Construction Company at
            Company Registrar Office of Kathmandu, Nepal in 2078 B.S. (2021
            A.D.).
          </p>
          <p class="text-muted">
            We are basically working for road construction through tender bid or
            on contract basis. We have also organized to work for commercial
            construction and supervision of the site as well as provide project
            management for any projects of construction, and also work for
            buildings, bridges, parks, irrigation, cannel, tunnel, and others
            with a strong brilliant team of Engineers and management. Quick
            Construction Pvt. Ltd. head office is located at Kathmandu, ward no.
            - 12, Teku with all managing & technical team on daily work. We do
            regular plan and preparation for our every site, observe daily,
            monitor and cure the problem for the site with quick response. We
            are building an intelligent engineering system to develop a team for
            high tech construction and planning for infrastruction development
            of nation and commercial projects. We make a healthy relation with
            our clients and day to day discuss makes our client satisfaction
            level better for productive work on site.
          </p>
          <p class="text-muted">
            Our team also help clients to reduce the extra cost for project
            which are unnecessary and wastages, also provide a good guideline
            for the success of project. We do our work from zero level to finish
            level with our 100% effort and passion for the work.
          </p>
          <p class="text-muted">
            Quick Construction want to build a construction company which could
            lead construction to the next level and build a wonderful and
            advance design, modern structures. Our Aim is to be Nepal no. 1
            Company in construction service through our work and engineering.
          </p>
        </div>
        <button type="button" class="btn btn-warning" (click)="onClick()">
          Read More
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Projects-->
<div class="section-full bg-gray pt-5 py-5">
  <div class="container">
    <div class="section-head text-center">
      <h2 class="text-uppercase">Our Projects</h2>
      <div class="wt-separator-outer">
        <div class="wt-separator style-square">
          <span class="separator-left bg-warning"></span>
          <span class="separator-right bg-warning"></span>
        </div>
      </div>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s.
      </p>
    </div>
    <div class="section-content">
      <app-img-slider></app-img-slider>
    </div>
  </div>
</div>

<section id="team" class="team section-bg py-3">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <div class="section-head text-center">
        <h2 class="text-uppercase">Our <strong>Team</strong></h2>
        <div class="wt-separator-outer">
          <div class="wt-separator style-square">
            <span class="separator-left bg-warning"></span>
            <span class="separator-right bg-warning"></span>
          </div>
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="../../../assets/team-1.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Mr. Om Yadav</h4>
            <span>Chairman/ CEO</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="../../../assets/team-2.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Er. Amrit Babu Adhikari</h4>
            <span>Chief Engineer (CE)</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="../../../assets/Team-3.jpg" class="img-fluid" alt="" />
          </div>
          <div class="member-info">
            <h4>Er. Sujeet yadav</h4>
            <span>Project Managing Director</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
