<div class="col-md-12 p-0">
  <div>
    <div class="page-header p-5 overlay-wraper header-1" data-parallax="true">
      <div class="overlay-main bg-black opacity-07"></div>
      <div class="container p-5 pa-0 p-lg-0 pt-lg-5">
        <div class="motto text-center">
          <h2 class="p-5 pa-0 m-5 fw-bolder text-white">About Us</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="section-head text-center mt-5">
        <h2 class="text-uppercase">ABOUT US</h2>
        <div class="wt-separator-outer">
          <div class="wt-separator style-square">
            <span class="separator-left bg-warning"></span>
            <span class="separator-right bg-warning"></span>
          </div>
        </div>
        <p>
          Quick Construction Pvt. Ltd is registered Construction Company at
          Company Registrar Office of Kathmandu, Nepal in 2078 B.S. (2021 A.D.).
          We are basically working for road construction through tender bid or
          on contract basis. We have also organized to work for commercial
          construction and supervision of the site as well as provide project
          management for any projects of construction, and also work for
          buildings, bridges, parks, irrigation, cannel, tunnel, and others with
          a strong brilliant team of Engineers and management.
        </p>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc">
            <img
              src="../../../assets/construction-5.jpg"
              class="image"
              alt=""
            />
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6 col-xs-100pc">
            <h4 class="text-center quick">QUICK CONSTRUCTION</h4>
            <p class="py-2">
              Quick Construction Pvt. Ltd. head office is located at Kathmandu,
              ward no. - 12, Teku with all managing & technical team on daily
              work. We do regular plan and preparation for our every site,
              observe daily, monitor and cure the problem for the site with
              quick response. We are building an intelligent engineering system
              to develop a team for high tech construction and planning for
              infrastruction development of nation and commercial projects. We
              make a healthy relation with our clients and day to day discuss
              makes our client satisfaction level better for productive work on
              site.
            </p>
            <p>
              Our team also help clients to reduce the extra cost for project
              which are unnecessary and wastages, also provide a good guideline
              for the success of project. We do our work from zero level to
              finish level with our 100% effort and passion for the work. Quick
              Construction want to build a construction company which could lead
              construction to the next level and build a wonderful and advance
              design, modern structures. Our Aim is to be Nepal no. 1 Company in
              construction service through our work and engineering.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="section-full overlay-wraper bg-parallax mt-5 mb-5 pt-5 pb-4"
      data-stellar-background-ratio="0.5"
      style="background-image: url(../../../assets/services-1.jpg)"
    >
      <div class="overlay-main opacity-07 bg-dark"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="text-right text-white">
              <h2 class="font-60">Our Mission</h2>
              <p>
                Our mission is to organize a well healthy organization for
                construction through highly qualified engineers and management
                bodies. We are also aimed to innovate in construction system,
                deliver the best technical support, strategy and plan, as well
                as management of any project for their execution. Quick
                Construction wants to bring quickness in project we handle by a
                good system, so that we can reduce expense and manage benefits
                for clients and from projects with providing a best technical
                work then any others here. We are looking forward to handle or
                construct corporate building projects, steel structures, mega
                construction, Designed building and parks, National highways,
                and Bridges. We have a mission to satisfy our client and
                establish a trust though our hard work, team, technology- by
                giving our best because we believe on innovation and execution.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mb-5">
      <div class="section-head text-center">
        <h2 class="text-uppercase">Our Team</h2>
        <div class="wt-separator-outer">
          <div class="wt-separator style-square">
            <span class="separator-left bg-warning"></span>
            <span class="separator-right bg-warning"></span>
          </div>
        </div>
        <p>
          We have an organized management and technical team for the
          construction projects. We execute any types of project through team
          work and perfect plan.
        </p>
      </div>

      <div class="section-content team">
        <div class="row m-0">
          <div class="col-md col-sm">
            <div class="card">
              <div class="wt-img-effect zoom-slow">
                <img
                  src="../../../assets/team-1.jpg"
                  class="card-img-top"
                  alt="Team"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Mr. Om Yadav</h5>
                <p class="card-text">
                  Founder, Chairman & CEO of Quick Fix Pvt. Ltd.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="card">
              <div class="wt-img-effect zoom-slow">
                <img
                  src="../../../assets/team-2.jpg"
                  class="card-img-top"
                  alt="Team"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Mr. Aryan Kumar Rao</h5>
                <p class="card-text">Co- Founder, Managing Director (M.D)</p>
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="card">
              <div class="wt-img-effect zoom-slow">
                <img
                  src="../../../assets/Team-3.jpg"
                  class="card-img-top"
                  alt="Team"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Er. Sujeet Kumar Yadav</h5>
                <p class="card-text">Chief Operation Officer (COO)</p>
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="card">
              <div class="wt-img-effect zoom-slow">
                <img
                  src="../../../assets/Team-3.jpg"
                  class="card-img-top"
                  alt="Team"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Er. Amrit Babu Adhikari</h5>
                <p class="card-text">
                  Project Engineer of Siraha - Postal Highway
                </p>
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="card">
              <div class="wt-img-effect zoom-slow">
                <img
                  src="../../../assets/team-1.jpg"
                  class="card-img-top"
                  alt="Team"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Er. Devnandan Yadav</h5>
                <p class="card-text">Site Assistant Engineer</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md col-sm">
            <div class="card">
              <div class="wt-img-effect zoom-slow">
                <img
                  src="../../../assets/team-2.jpg"
                  class="card-img-top"
                  alt="Team"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Er. Jitendra Yadav</h5>
                <p class="card-text">Site Assistant Engineer</p>
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="card">
              <div class="wt-img-effect zoom-slow">
                <img
                  src="../../../assets/Team-3.jpg"
                  class="card-img-top"
                  alt="Team"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Jr. Devchandra Mahato</h5>
                <p class="card-text">Site Supervisor</p>
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="card">
              <div class="wt-img-effect zoom-slow">
                <img
                  src="../../../assets/Team-3.jpg"
                  class="card-img-top"
                  alt="Team"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Jr. Avinash Yadav</h5>
                <p class="card-text">Site Supervisor</p>
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="card">
              <div class="wt-img-effect zoom-slow">
                <img
                  src="../../../assets/Team-3.jpg"
                  class="card-img-top"
                  alt="Team"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Jr. Vijay Yadav</h5>
                <p class="card-text">Site Supervisor</p>
              </div>
            </div>
          </div>
          <div class="col-md col-sm">
            <div class="card">
              <div class="wt-img-effect zoom-slow">
                <img
                  src="../../../assets/Team-3.jpg"
                  class="card-img-top"
                  alt="Team"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">Akhilesh Thakur</h5>
                <p class="card-text">Siraha - Site Accountant</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
