.page-header {
  background-image: url("../../../assets/construction-2.jpg");
  height: 70vh;
  background-size: cover;
  background-position: top;
}
.quick:hover {
  color: #ffc107;
}
.image {
  width: 100%;
  height: 100%;
}

.section-full {
  .font-24 {
    font-size: 24px;
    line-height: 30px;
  }

  .font-60 {
    font-size: 60px;
    line-height: 66px;
  }
  .text-right {
    text-align: right;
  }
}
.team {
  .card {
    height: 370px;
    img {
      height: 240px;
    }
    .card-body {
      height: 150px;
      overflow-y: scroll;
    }
  }
}
.card-body::-webkit-scrollbar {
  width: 3px !important;
}
@media (max-width: 575.98px) {
  .pa-0 {
    padding: 0px !important;
  }
  .page-header {
    margin-top: 100px;
  }
  .motto {
    display: flex;
    align-items: center;
    height: 250px;
  }
}
