<div class="page-header p-5 overlay-wraper header-1" data-parallax="true">
  <div class="overlay-main bg-black opacity-07"></div>
  <div class="container p-5 p-lg-0 pt-lg-5">
    <div class="motto text-center">
      <h2 class="p-5 m-5 fw-bolder text-white">Our Projects</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="section-head text-center mt-5">
    <h2 class="text-uppercase">Our Projects</h2>
    <div class="wt-separator-outer">
      <div class="wt-separator style-square">
        <span class="separator-left bg-warning"></span>
        <span class="separator-right bg-warning"></span>
      </div>
    </div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book has survived.
    </p>
  </div>
  <div class="col-md-12 col-12 col-sm-12">
    <div class="row m-0 py-3">
      <div class="col-md-4 p-0">
        <div class="project-1">
          <div
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="../../../../assets/construction-3.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../../assets/construction-2.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../../assets/construction-5.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-8 p-0 px-md-3 px-sm-0 py-sm-2 project-2">
        <h4>
          Postal Highway- Upgrading of Jamadah (MRM Golbajar-Lagadi-Gadayani
          Road CH 15+000 - 27+467 (HPR/337011284/076-77/UR-011)
        </h4>
        <p>
          Quick Construction Pvt. Ltd. signed a postal highway road construction
          project of Golbajar-Ladagi-Gadhyani Road of Siraha District as a
          sub-contract from main contractor of this project Contech Pvt. Ltd. on
          2021 November Under mutual terms and conditions. This project is
          located at Siraha District, of Madesh Pradesh ( Province), Nepal,
          which connect Mahendra raj marg to south India border crossing
          east-west postal highway(hulaki rajmarg). Total project is of about
          27.456 km which is divided into two project - project 10 & project 11.
          Quick Construction singed for project two which 12.456 km which starts
          from Ramjanki Chowk of Hakpara, Siraha and ends at border of India.
          This road is 12 meter width with Asphalt construction. This is also
          one of the national highway road.
        </p>
      </div>
    </div>
    <div class="row m-0 py-3">
      <div class="col-md-4 p-0">
        <div class="project-1">
          <div
            id="carouselExampleCaptions1"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions1"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions1"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions1"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="../../../../assets/construction-3.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../../assets/construction-2.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="../../../../assets/construction-5.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleCaptions1"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleCaptions1"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-8 p-0 px-md-3 px-sm-0 py-sm-2 project-2">
        <h4>Chovar Steel Work</h4>
        <p>
          Quick Construction Pvt. Ltd. signed a postal highway road construction
          project of Golbajar-Ladagi-Gadhyani Road of Siraha District as a
          sub-contract from main contractor of this project Contech Pvt. Ltd. on
          2021 November Under mutual terms and conditions. This project is
          located at Siraha District, of Madesh Pradesh ( Province), Nepal,
          which connect Mahendra raj marg to south India border crossing
          east-west postal highway(hulaki rajmarg). Total project is of about
          27.456 km which is divided into two project - project 10 & project 11.
          Quick Construction singed for project two which 12.456 km which starts
          from Ramjanki Chowk of Hakpara, Siraha and ends at border of India.
          This road is 12 meter width with Asphalt construction. This is also
          one of the national highway road.
        </p>
      </div>
    </div>
  </div>
</div>
